<!DOCTYPE html>
	<html>
		<head>  
			<h1><center>IONNO</center></h1>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<div style="text-align:right">
				<div class="ec-cart-widget"></div>
				</div>
	        		<li><a href="index.html">Home</a></li>
		        	<li><a href="shop.html">Shop</a></li>
	        		<li><a href="ourstory.html">Our Story</a></li>
	    		</ul>
			<div data-fixed="TRUE" 
			data-fixed-position="TOP_RIGHT">
			<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?21302375&data_platform=code&data_date=2019-12-08" charset="utf-8"></script>
			<script type="text/javascript">Ecwid.init();</script>
			</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ionno@gmail.com">email</a></li>
	        		<li><a href="https://instagram.com">social media</a></li>
				</ul>
			</footer>
		</body>
	</html>
